[user]
	email = me@ryanharman.dev 
	name = Ryan Harman
[push]
  autoSetupRemote = true
[pull]
  rebase = false
[rerere]
	enabled = true
[protocol "file"]
	allow = always
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
